@import "../variables";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  min-width: none;
  width: 100%;

  @media screen and (min-width: $phone) {
    min-width: 750px;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 75%;
  height: 3rem;

  @media screen and (min-width: $phone) {
    flex-grow: 1;
  }

  &-topic {
    display: none;
    font-size: 1rem;
    @media screen and (min-width: $phone) {
      display: inline-block;
    }
  }

  &-burger {
    display: inline-block;

    @media screen and (min-width: $phone) {
      display: none;
    }

    .burger {
      display: block;
      height: 2em;
      width: 2rem;
    }
  }
}

.search {
  width: 75%;
  height: 100%;
  background-color: $primary-shade;
  display: flex;
  flex-direction: row;

  @media screen and (min-width: $phone) {
    width: 250px;
    margin-left: 3em;
  }

  &-input {
    flex-grow: 1;
  }

  &-icon {
    width: 2.25em;
    padding: 0.25em;
    background-color: red;
    border-radius: 0.25rem;
  }
}
