.main {
  max-width: 1700px;
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  padding: var(--container-inline-spacing);
}
.main > * {
  flex: 1 1 50%;
  min-width: 350px;
}

.copy {
  max-width: 500px;
  min-height: 200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
