:root {
  --font-size-xsm: clamp(11px, calc(0.6875rem + ((1vw - 3px) * 0.2)), 14px);
  --font-size-sm: clamp(14px, calc(0.875rem + ((1vw - 3px) * 0.1333)), 16px);
  --font-size-md: clamp(16px, calc(1rem + ((1vw - 3px) * 0.1333)), 18px);
  --font-size-lg: clamp(28px, calc(1.75rem + ((1vw - 3px) * 1.6)), 52px);
  --font-size-xl: clamp(32px, calc(2rem + ((1vw - 3px) * 1.8667)), 60px);
  --font-size-2xl: clamp(36px, calc(2.25rem + ((1vw - 3px) * 2.1333)), 68px);
  --font-size-3xl: clamp(40px, calc(2.5rem + ((1vw - 3px) * 2.4)), 76px);
  --font-size-4xl: clamp(46px, calc(2.875rem + ((1vw - 3px) * 2.6667)), 86px);
}
