:root {
  --primary: hsl(60, 11%, 34%);
  --primary-content: hsl(60, 11%, 64%);
  --secondary: hsl(0, 11%, 34%);
  --secondary-content: hsl(0, 11%, 64%);
  --accent: hsl(14, 69%, 36%);
  --accent-content: hsl(14, 69%, 66%);
  --neutral: hsl(0, 0%, 4%);
  --neutral-content: hsl(0, 0%, 34%);
  --base-100: hsl(0, 0%, 96%);
  --base-200: hsl(0, 0%, 86%);
  --base-300: hsl(0, 0%, 76%);
  --info: hsl(204, 22%, 45%);
  --info-content: hsl(204, 22%, 75%);
  --success: hsl(204, 72%, 57%);
  --success-content: hsl(204, 72%, 87%);
  --warning: hsl(60, 72%, 57%);
  --warning-content: hsl(60, 72%, 87%);
  --error: hsl(1, 72%, 57%);
  --error-content: hsl(1, 72%, 87%);
}
