@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  body>div:first-child,
  div#__next,
  div#__next>main {
    height: 100%;
    overflow: auto;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url("../assets/Caskaydia Cove Nerd Font Complete.ttf");
}

@font-face {
  font-family: "Open-Sans";
  src: url("../assets/OpenSans-VariableFont_wdth,wght.ttf");
}

@layer components {
  .terminal> :where(div, p, li, ul, table) {
    @apply font-code
  }

  .article {
    @apply prose max-w-4xl m-auto prose-invert;
  }

  .article> :where(h1, h2, h3, h4, h5, h6, p, em, strong, li, ul) {
    @apply font-sans
  }

  .article>p {
    @apply text-justify
  }

  .article>pre {
    @apply font-code
  }
}

@layer utilities {}
