@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  body>div:first-child,
  div#__next,
  div#__next>main {
    height: 100%;
    overflow: auto;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
    font-family: 'Cascadia Code';
  }

  code {
    font-family: 'Cascadia Code';
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer components {
  .font-open-sans {
    font-family: 'Open Sans', sans-serif;
  }

  .font-code {
    font-family: 'Cascadia Code';
  }

  .article {
    @apply prose max-w-4xl m-auto prose-invert;
  }

  .article>h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  em,
  strong,
  li,
  ul {
    @apply font-open-sans
  }

  .article > h1 {
    @apply text-amber-200
  }

  .article>pre {
    @apply font-code
  }
}

@layer utilities {}