@import 'tailwindcss';
@plugin "flowbite/plugin";

:root {
  --text-color: #1b1a1c;
  --text-color-inverted: #eeedf9;
  --bg-color: #eeedf9;
  /* half the hsl lightness */
  --bg-color-50: #473db8;
  --bg-color-inverted: #1b1a1c;
  /* double the hsl lightness */
  --bg-color-inverted-50: #38363a;

  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;
}

html[data-theme='dark'] {
  --text-color: #eeedf9;
  --text-color-inverted: #1b1a1c;
  --bg-color: #1b1a1c;
  --bg-color-50: #38363a;
  --bg-color-inverted: #eeedf9;
  --bg-color-inverted-50: #473db8;
}

html[data-theme='orange'] {
  --text-color: #581c0e;
  --text-color-inverted: #f8dad3;
  --bg-color: #fef8f6;
  --bg-color-50: #e14b19;
  --bg-color-inverted: #40251c;
  --bg-color-inverted-50: #a35e48;
}

@theme {
  /* Font Family */
  --font-lato: 'Lato', sans-serif;
  --font-cookie: 'Cookie', cursive;

  /* Colors */
  --color-*: initial;

  /* Font Size */
  --text-*: initial;
  --text-sm: clamp(0.6875rem, 0.6528rem + 0.1852vw, 0.875rem);
  --text-md: clamp(0.9375rem, 0.9028rem + 0.1852vw, 1.125rem);
  --text-lg: clamp(1.125rem, 0.8935rem + 1.2346vw, 2.375rem);
  --text-xl: clamp(1.25rem, 0.9259rem + 1.7284vw, 3rem);
  --text-2xl: clamp(1.5625rem, 1.2384rem + 1.7284vw, 3.3125rem);

  /* Screen Size */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@theme inline {
  /* Colors */
  --color-text: var(--text-color);
  --color-text-inverted: var(--text-color-inverted);
  --color-background: var(--bg-color);
  --color-background-50: var(--bg-color-50);
  --color-background-inverted: var(--bg-color-inverted);
  --color-background-inverted-50: var(--bg-color-inverted-50);

  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
}

@layer base {
  code,
  input,
  textarea,
  p {
    font-size: var(--text-md);
    font-weight: var(--font-weight-normal);
  }
  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-thin);
  }
  h3 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-normal);
  }
  h4 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
  }
  h5 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-thin);
  }

  div,
  input,
  button,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-lato);
    color: var(--text-color);
  }
}
