@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code,
  input,
  textarea,
  p {
    @apply text-md font-normal;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-2xl font-thin;
  }
  h3 {
    @apply text-xl font-normal;
  }
  h4 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-lg font-thin;
  }

  code,
  input,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-lato text-black dark:text-white;
  }
}

@layer components {
  .outline-primary:focus-within {
    @apply ring outline-none ring-primary-800 !important;
  }
  .outline-primary:focus-within:is(.dark *) {
    @apply ring-primary-300 !important;
  }

  .outline-none:is(textarea) {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
