@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    src: @import
      url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
  }
  @font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    src: @import
      url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
  }
  @font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    src: @import
      url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
  }

  body {
    @apply m-0;
    @apply p-0;
    @apply font-robot;
    @apply bg-light;
    @apply text-dark;
  }

  a {
    @apply hover:text-teal;
  }
}

@layer components {
  .blog-content {
    @apply mt-4;
    @apply px-0.5;
    @apply text-left;
    @apply leading-relaxed;
  }
}
