@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Urbanist", serif;
    font-weight: 400;
    src: @import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
  }
  @font-face {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    src: @import
      url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,600&display=swap");
  }
  @font-face {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    src: @import
      url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
  }

  html {
    min-width: 360px;
    scroll-behavior: smooth;
  }

  body {
    @apply m-0;
    @apply p-0;
    @apply font-base;
    @apply bg-light;
    @apply text-dark;
  }

  a {
    @apply hover:text-teal;
  }

  h1 {
    @apply text-2xl my-4;
  }

  h2 {
    @apply text-xl my-3;
  }

  h3 {
    @apply text-lg my-2;
  }
  h4 {
    @apply text-md my-1.5
  }

  p {
    @apply text-sm;
  }

  table {
    @apply border-collapse table-auto;
  }

  th {
    @apply p-2 border bg-teal;
  }

  td {
    @apply p-2 border;
  }

  pre {
    @apply bg-darkBlue p-2 rounded-md overflow-x-auto;
  }

  code {
    @apply font-code text-light text-sm max-w-full bg-darkBlue p-1 rounded-sm;
  }
}

@layer components {
  .container {
    min-height: 75vh;
    min-width: 100vw;
  }
}
