.lily-flower {
  height: 100%;
  width: 1px;
  position: relative;
  margin-inline: auto;
}

.flower-head {
  position: relative;
  outline: solid 1px red;
  width: 30px;
  height: 15%;
}
.petal {
}

.stem {
  position: relative;
  height: 85%;
  background-image: linear-gradient(to top, var(--leaf-70), var(--leaf));
  border-top-left-radius: 300%;
  width: 10px;
}
.leaf {
  position: absolute;
  height: var(--h);
  width: var(--w);
  border-top-left-radius: var(--h);
  border-bottom-right-radius: var(--h);
  background-image: linear-gradient(to top, var(--leaf), var(--leaf-10));
}
.stem > .leaf:nth-child(1) {
  --w: 6vmin;
  --h: calc(var(--w) + 2.5vmin);
  top: 20%;
  right: 90%;
  transform: rotate(97deg);
}
.stem > .leaf:nth-child(2) {
  --w: 5vmin;
  --h: calc(var(--w) + 5.5vmin);
  top: 33%;
  left: 105%;
  transform: rotate(183deg);
}
.stem > .leaf:nth-child(3) {
  --w: 6vmin;
  --h: calc(var(--w) + 5vmin);
  bottom: 30%;
  right: 180%;
  transform: rotate(97deg);
}
.stem > .leaf:nth-child(4) {
  --w: 6.25vmin;
  --h: calc(var(--w) + 7vmin);
  bottom: 10%;
  left: 90%;
  transform: rotate(183deg);
}
